

$colors: (
  secondary-bg: #9f0000,
  highlight-bg: #e4e4e4,
  highlight-fg: black,
  primary-bg: #d1d0c7,
  primary-fg: black,
  marvel-red: #ec1d24 
);

$breakpoints: (
  medium: only screen and (max-width: 768px),
  small: only screen and (max-width: 500px),
  small-not-ie: all and (-ms-high-contrast: none)
);