@import '../scss/variables';

.main-layout {
  display: grid;
  grid-template-columns: 1fr minmax(80px, 20vw);
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    'main-layout-search main-layout-info'
    'main-layout-list main-layout-info'
    'main-layout-pagination main-layout-info';
  height: 100%;
  width: 100%;
  background: rgba(map-get($colors, primary-bg), 0.85);
  color: map-get($colors, primary-fg);
  max-height: inherit;
  padding: 15px;
  box-sizing: border-box;
  position: relative;

  &__search {
    grid-area: main-layout-search;
  }

  &__list {
    grid-area: main-layout-list;
  }

  &__pagination {
    grid-area: main-layout-pagination;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__info {
    grid-area: main-layout-info;
    margin-left: 15px;
  }

  @supports (display: grid) {
    gap: 15px;

    &__info {
      margin-left: 0;
    }

    @media #{map-get($breakpoints, medium)} {
      grid-template-columns: 1fr minmax(200px, 15vw);
    }

    @media #{map-get($breakpoints, small)} {
      grid-template-areas:
        'main-layout-search'
        'main-layout-list'
        'main-layout-pagination'
        'main-layout-info';

      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr 40px min-content;
    }
  }
}
