@import '../scss/variables';

.main-layout {
  display: grid;
  grid-template-columns: 1fr minmax(50px, 15vw);
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    'main-layout-search main-layout-info'
    'main-layout-list main-layout-info'
    'main-layout-pagination main-layout-info';
  height: 100%;
  width: 100%;
  background: map-get($colors, primary-bg);
  color: map-get($colors, primary-fg);
  max-height: inherit;
  padding: 15px;
  box-sizing: border-box;
  position: relative;

  &::after{
    pointer-events: none;
    background: url('https://i.annihil.us/u/prod/marvel/choosemarvelquiz/images/comicpanelsdark.png');
    content: '';
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &__search {
    grid-area: main-layout-search;
    z-index: 2;
    position: relative;
  }

  &__list {
    grid-area: main-layout-list;
    z-index: 2;
    position: relative;
  }

  &__pagination {
    grid-area: main-layout-pagination;
    z-index: 2;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: solid 1px red;

  }

  &__info {
    grid-area: main-layout-info;
    z-index: 2;
    position: relative;
    margin-left: 15px;
  }

  @supports (display: grid) {
    gap: 15px;

    &__info {
      margin-left: 0;
    }

    @media #{map-get($breakpoints, small)} {
      grid-template-areas:
        'main-layout-search'
        'main-layout-list'
        'main-layout-pagination'
        'main-layout-info';

      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr 40px min-content;
    }
  }
}
