@import '../scss/variables';

.error-message {
  flex: 0 0 auto;
  background: map-get($colors, primary-bg);
  color: map-get($colors, marvel-red);
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
