@import '../scss/variables';

.app {
  font-family: 'Bangers', cursive;
  background: url('//i.annihil.us/u/prod/marvel/html_blocks_assets/loyalty/reg-bg.jpg') black;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  padding: 15px 55px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media #{map-get($breakpoints, small)} {
    padding: 15px;
    background-position: top left;
    background-size: auto;
  }
}
