@import '../variables';

.app {
  background: url('https://i.annihil.us/u/prod/marvel/choosemarvelquiz/images/comicpanelsdark.png')
    map-get($colors, secondary-bg);
  min-height: 100vh;
  max-width: 100vw;
  padding: 15px 55px;
  position: relative;
  box-sizing: border-box;

  @media #{map-get($breakpoints, small)} {
    padding: 15px;
  }
}
