@import '../scss/variables';

.app {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  background: url('//i.annihil.us/u/prod/marvel/html_blocks_assets/loyalty/reg-bg.jpg') black;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  padding: 15px 55px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media #{map-get($breakpoints, small)} {
    padding: 15px;
    background-position: top left;
    background-size: auto;
  }
}

a {
  color: darken(map-get($colors, marvel-red), 5%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: darken(map-get($colors, marvel-red), 10%);
}

a:active {
  color: map-get($colors, marvel-red);
}

a:visited {
  color: darken(map-get($colors, marvel-red), 10%);
}
