@import '../scss/variables';

.loading-indicator {
  flex: 0 0 auto;
  background: map-get($colors, primary-bg);
  color: map-get($colors, primary-fg);
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
