@import '../scss/variables';
@import '../scss/placeholders';

.search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 25vw;
  height: 40px;

  @media #{map-get($breakpoints, medium)} {
    max-width: 100%;
  }

  &__label {
    color: map-get($colors, primary-fg);
    margin-right: 15px;
  }

  &__input {
    flex: 2 1;
    background: lighten(map-get($colors, primary-bg), 25%);
    color: map-get($colors, primary-fg);
    border: solid 1px map-get($colors, primary-bg);
    padding: 3px;
  }

  &__button {
    @extend %text-colored-button;
    margin-left: 15px;
    min-width: 20px;
  }
}