@import '../scss/variables';
@import '../scss/placeholders';

.modal {
  background: rgba(53, 24, 22, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  display: none;
  z-index: 10;

  &--opened {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }

  &__container {
    flex: 1 1 auto;
    margin: 5vh 15vw;
    background: map-get($colors, highlight-bg);
    color: map-get($colors, highlight-fg);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: auto;
    border: 0;
    padding: 15px;
    width: unset;
    height: unset;

    @media #{map-get($breakpoints, small)} {
      margin: 5vh;
    }
  }

  &__close {
    @extend %unstyled-button;
    position: absolute;
    right: 15px;
    top: 15px;    
    font-size: 2em;
    line-height: 1em;
  }

  &__title {
    line-height: 2em;
    font-size: 2em;
    text-align: center;
    color: map-get($colors, marvel-red);
  }
}
