.modal {
  background: rgba(111, 69, 20, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  display: none;

  &--opened {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }

  &__container {
    flex: 1 1 auto;
    margin: 5vh 15vw;
    background: #f5c19e;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: auto;
    border: 0;
    padding: 0;
    width: unset;
    height: unset;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 2em;
    line-height: 1em;
  }

  &__title {
    line-height: 2em;
    font-size: 2em;
  }

  &__content {
    font-size: 1.5em;
  }
}
