

$colors: (
  secondary-bg: #9f0000,
  highlight-bg: #e4e4e4,
  highlight-fg: black,
  primary-bg: black,
  text-color: white
);

$breakpoints: (
  medium: only screen and (max-width: 768px),
  small: only screen and (max-width: 500px)
);