@import '../scss/variables';

.hero-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  outline: none;

  &__card {
    width: 21%;
    margin: 2%;
    height: 11em;

    @media #{map-get($breakpoints, medium)} {
      width: 45%;
      margin: 2% 2.5%;
    }

    @media #{map-get($breakpoints, small)} {
      width: 100%;
      margin: 2% 0;
    }
  }
}
